@{
    Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <style type="text/css">
        tr td{
            border:5px solid rgb(137,207,240);
            font-size:26px
        }
        #tab{
   position:absolute;  
   left:40%;  
   top:20%;  
        }
    </style>
</head>


<body style="background-size:100%;background-image:url(../../images/1494962.jpg);background-repeat:no-repeat;overflow:hidden;background-position:center top;">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">技术部</a></li>
            <li><a href="#">上传图纸</a></li>
        </ul>
    </div>
    @using (Html.BeginForm("UploadDrawings", "TechnicalDepartment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       <table style="text-align:center;width:800px;height:600px;" id="tab">
           <tr>
               <td>
                   图号
               </td>
               <td colspan="2" style="text-align:left;width:150px;height:80px">
                   <input type="text" name="hao" id="hao" style="width:750px;height:80px" />
               </td>
           </tr>
           <tr>
               <td colspan="3">
                   上传图纸路径:<input type="file" name="files" id="files" style="width:300px;height:32px" />
               </td>
           </tr>
           <tr>
               <td colspan="3">
                   <button type="submit" style="">上传图纸</button>
               </td>
           </tr>
       </table>                    
         
    } 


    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
